html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f2f2f2;
}

#main {
  background: url(../images/steve-jobs.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 80vw;
  margin: auto;

  #title {
    color: white;
    width: 30vh;
    position: absolute;
    width: 40vw;
    top: 30vh;
    text-align: center;

    #img-div {
      img {
        height: 200px;
      }
    }

    h1 {
      margin: 0;
      font-weight: 300;
      font-size: 3.5em;
    }

    p {
      font-size: 25px;
      font-weight: 200;
      font-style: italic;
      width: 55%;
      margin: auto;
    }

    p:nth-child(4) {
      font-style: normal;
    }
  }
}

#tribute-info {
  height: 95vh;
  width: 80.4vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 30px;

  .box {
    margin: 0.5% 0.3%;
    background-color: #ffff;
    width: 22.6%;
  }

  #box-1 {
    flex-basis: 100%;
    margin-bottom: 1.3%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 30%;

    img {
      position: absolute;
      width: 100%;
      top: 100px;
    }

    .timeline {
      position: absolute;
      height: 100vh;
      width: 100%;
      overflow-y: hidden;
      scroll-behavior: smooth;
      border: 1px dashed black;

      .time-content {
        height: 100vh;
        width: 100%;
        text-align: center;
      }

      #time-title {
        padding: 40% 0;

        h1 {
          font-weight: 300;
          font-size: 40px;
        }

        img {
          width: 150px;
          position: static;
        }

        a {
          text-decoration: none;
          font-size: 24px;
          font-weight: 300;
          color: black;
        }
      }

      .timeline-content {
        text-align: center;
        padding: 35% 25%;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 1em;
          font-weight: 200;
        }

        span {
          margin: 0 40px;

          a {
            text-decoration: underline;
            color: black;
            font-weight: 400;
          }
        }
      }
    }

    // #timeline-1 {
    //   height: 100vh;
    //   background-attachment: fixed;
    // }
  }

  #box-2 {
    flex-basis: 47.5%;
  }

  #box-3 {
    flex-basis: 47.5%;
  }

  #box-4 {
    flex-basis: 47.5%;
  }

  #box-5 {
    flex-basis: 47.5%;
  }

  #box-6 {
    flex-basis: 47.5%;
  }

  #box-7 {
    flex-basis: 47.5%;
  }
}

#footer {
  height: 5vh;
}